{% extends 'admin/master.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row-fluid">

        <div>
            {% if current_user.is_authenticated %}
            <h1>FRONT PAGE</h1>
            <p class="lead">
                Admin Front Page
            </p>
            <p>
                This example shows a basic demonstration.
            </p>
            {% else %}
            <div class="row">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>                
            </div>           
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}
